.nav_ul {
  margin: auto;
  width: 1920px;
  height: 60px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  padding: 0%;
}

.nav_li {
  font-family: "Univers LT W01 45 Light";
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(255,255,200);
  text-decoration: none;
  position: absolute;
  right: 10%;
  top: 18px;
}

.nav_login {
  font-family: "Univers LT W01 45 Light";
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(255,255,200);
  text-decoration: none;
  position: absolute;
  right: 7%;
  top: 18px;
  border: none;
  background-color: #444444;
}

.nav_signup {
  font-family: "Univers LT W01 45 Light";
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(255,255,200);
  text-decoration: none;
  position: absolute;
  right: .05%;
  top: 18px;
  border: none;
  background-color: #444444;
}

.nav_home {
  position: absolute;
  left: .2%;
}

.nav_logout {
  position: absolute;
  right: 1%;
}

.nav_book {
  font-family: "Univers LT W01 45 Light";
  background-color: #444444;;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(255,255,200);
  text-decoration: none;
  position: absolute;
  right: 21%;
}

.nav_title {
  font-family: "Univers LT W01 45 Light";
  font-size: 40px;
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(255,255,200);
  text-decoration: none;
  position: absolute;
}

.nav_user {
  position: absolute;
  left: 5%;
  top: 18px;
  color: rgb(255,255,200);
}

button {
  display:inline-block;
  border: none;
  padding:0.46em 1.6em;
  margin:0 0.2em 0.2em 0;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.15s;
  background-color: #444444;
  color: rgb(255,255,200);
  font-family: "Univers LT W01 45 Light";
  font-size: 18px;
}

button:hover {
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
}
